/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
	text-decoration: none;
	color: #4092F7;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 100%;
    margin: 0 2.5%;
	font-size: 1.15em;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 10px solid #BEE425;
}

.footer-container,
.main aside {
    border-top: 15px solid #BEE425;
}

.header-container,
.footer-container,
.main aside {
    background: #8BA815;
}

.title {
    color: white;
}

h1 {
	font-size: 1.1em;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #BEE425;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 15px 0;
}

.main article h1 {
    font-size: 1.25em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 25px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.form-item-first {	
	margin: 10px 0 20px 0;
	width: 95%;
}
.form-item  {	
	margin: 0 0 5px 0;
	width: 95%;
}
.form-action {
	margin: 5px 0 0 0;
	text-align: right;
	width: 95%;
}
.bigOR {
	font-size: 120%;
	padding-left: 15%;
	width: 75%;
}
.control-label {
	display: inline-block;
	width: 20%;
	padding: 6px 0 0 0;
	margin-right: 3%;
	text-align: right;
}

.control {
	display: inline-block;
	width: 80%;
}

.underText {
	display: inline-block;
	width: 60%;
	font-size: .80em;
	color: #696969;
	font-style: italic;
}
.error-msg {
	color: red;
	padding-left: 10px;
}

.radio-label {
	display: inline-block;
	margin-right:3%;
}

#name {
	width:50%
}

#npi {
	width:15%
}

#results {
	border: 1px solid #DCDCDC;
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 15px;
	overflow: auto;
	height: 375px;
}

.npiName {
	font-weight: bold;
}

.dates {
	padding: 0% 1% 0% 1%;
	font-size: .85em;
}

.address {
	width: 48%;
	float: left;
	padding: 0% 1% 0% 1%;
}

.taxonomy {width:85%;border-collapse:collapse; margin: 1%;}
.taxonomy td, th {font-size:.9em;border:1px solid #000000;padding:3px 7px 2px 7px; text-align:center}
.taxonomy th {font-size:.9em;text-align:center;border:1px solid #000000;padding-top:5px;padding-bottom:4px;background-color:#DCDCDC;color:#000000;}
.taxonomy tr:nth-child(odd) td {color:#000000;background-color:#F5F5F5;}

.otherID {width:85%;border-collapse:collapse; margin: 1%;}
.otherID td, th {font-size:.9em;border:1px solid #696969;padding:3px 7px 2px 7px; text-align:center}
.otherID th {font-size:.9em;text-align:center;border:1px solid #696969;padding-top:5px;padding-bottom:4px;background-color:#F5F5F5;color:#000000;}
.otherID tr:nth-child(odd) td {color:#000000;background-color:#F3F3F3;}

#loader{
	position: absolute;
	left:45%;
	top: 45%;
	display: none;
}

input.btn-search {
	color: #fff;
	border: 2px solid #769445;
	padding: 3px 12px;
	width: auto;
	margin: 0 0 0 5px;
	cursor: pointer;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);
	background: #6A863E url(../images/submit.png) 0 0 repeat-x;
}
input.btn-search:hover {
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);
	background: #789646;
}

input.btn-clear {
	color: #000;
	border: 2px solid #DCDCDC;
	padding: 3px 12px;
	width: auto;
	margin: 0 0 0 5px;
	cursor: pointer;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);
	background: #A8A8A8 url(../images/clear.png) 0 0 repeat-x;
}
input.btn-clear:hover {
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);
	background: #DCDCDC;
}












/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

	h1 { display:none;}
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	
	div.header-container { 
		border-bottom: 0px solid #000 !important;
		display: none !important; 
	}
	
	.main {
		border-top: 0px solid #000 !important;
	}
	
	form {
		display:none;
	}
	
	#results {
		overflow: none !important;
		height: 100% !important;
		border: 0px solid #000 !important;
	}
}
